:root {
    --hero-background: #2F303A;
    --button: #2196F3;
    --main-background: #FFFFFF
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.tiitle {
    color: blue;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;

}

.title {
    color: black;
}

.navigation-list {
    color: black;
    list-style: none;

}

.contacts {
    list-style: none;
}

/* .navigation-link{
    
}*/

.allbutton {
    background-color: rgb(60, 63, 66)
}

.hero-button {
    background-color: var(--button);
}

.footer {
    background-color: rgb(60, 63, 66)
}

.hero {
    background-color: var(--hero-background);
}


.container {
    width: 1200px;
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
}

.features {
    padding-top: 94px;

}

.work {
    padding-top: 94px;
    padding-bottom: 94px;
}

.team {
    padding-top: 94px;
    padding-bottom: 94px;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}