.title{
    color: blue;
}
.tiitle{
    color: black;
}
.navigation{
    color:black
}
.navigationstudio{
    color: blue;
}
.allbutton{
    background-color:rgb(60, 63, 66)
}
.button{
    color: blue;
}
.footer{
    background-color: rgb(60, 63, 66)
}