:root {
    --hero-background:#2F303A;
    --button:#2196F3;
    --main-background: #FFFFFF
    }
        
 background
.tiitle{
    color: blue;
}
.tiitle{
    color: black;
}
.navigation{
    color:black
}
.navigationstudio{
    color: blue;
}
.allbutton{
    background-color:rgb(60, 63, 66)
}
.button{
    color: blue;
}
.footer{
    background-color: rgb(60, 63, 66)
}